body {
  overflow-x: hidden;
}

.u-section-1 {
  background-image: linear-gradient(#e5e5e5, #b3b3b3);
  min-height: 1326px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 647px;
  margin: 79px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 504px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  width: 822px;
  margin: 54px auto 40px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 20px));
  background-image: none;
  min-height: 1051px;
  grid-gap: 40px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 117px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  margin: 10px auto 0;
}

.u-section-1 .u-text-5 {
  text-align: center;
  width: 179px;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 11px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-text-8 {
  text-align: center;
  line-height: 1.6;
  letter-spacing: normal;
  width: 179px;
  background-image: none;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 11px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-10 {
  background-image: none;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-text-11 {
  text-align: center;
  line-height: 1.6;
  letter-spacing: normal;
  width: 179px;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 11px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-13 {
  background-image: none;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-text-14 {
  text-align: center;
  line-height: 1.6;
  letter-spacing: normal;
  width: 179px;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 11px auto 0;
  padding: 19px 41px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1373px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-bottom: 54px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1085px;
    grid-auto-columns: calc(50% - 20px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-group-2 {
    min-height: 117px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-group-3 {
    min-height: 117px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-group-4 {
    min-height: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1329px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 54px;
  }

  .u-section-1 .u-list-1 {
    width: 590px;
    margin-top: 61px;
    margin-bottom: 28px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2061px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-group-1 {
    min-height: 132px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
  }
}
.u-section-2 {
  background-image: none;
  min-height: 1122px;
}

.u-section-2 .u-group-1 {
  width: 822px;
  min-height: 194px;
  height: auto;
  margin: 43px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 20px 1px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 270px;
  grid-gap: 25px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-image-1 {
  height: 572px;
  object-position: 100% 53.21%;
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1133px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 219px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 729px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1981px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 204px;
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 69px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-image-1 {
    height: 515px;
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
  }
}
