 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, #b3b3b3);
}

.u-section-1 .u-sheet-1 {
  min-height: 903px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 647px;
  margin: 79px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 504px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 30px));
  grid-gap: 40px;
  background-image: none;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-1 {
  min-height: 145px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  text-align: center;
  background-image: none;
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-2 {
  min-height: 145px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  text-align: center;
  line-height: 1.6;
  letter-spacing: normal;
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-3 {
  min-height: 145px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-11 {
  text-align: center;
  line-height: 1.6;
  letter-spacing: normal;
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-1 .u-group-4 {
  min-height: 145px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-14 {
  text-align: center;
  line-height: 1.6;
  letter-spacing: normal;
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 32px auto 0;
  padding: 19px 41px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 32px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20px));
    min-height: 1000px;
  }

  .u-section-1 .u-group-1 {
    min-height: 135px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-3 {
    width: 134px;
  }

  .u-section-1 .u-text-5 {
    width: 209px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-group-2 {
    min-height: 135px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-6 {
    width: 134px;
  }

  .u-section-1 .u-text-8 {
    width: 209px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 35px;
  }

  .u-section-1 .u-group-3 {
    min-height: 135px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-9 {
    width: 134px;
  }

  .u-section-1 .u-text-11 {
    width: 209px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 35px;
  }

  .u-section-1 .u-group-4 {
    min-height: 135px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-12 {
    width: 134px;
  }

  .u-section-1 .u-text-14 {
    width: 209px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-5 {
    width: 217px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-8 {
    width: 217px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-11 {
    width: 217px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-14 {
    width: 217px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 193px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-6 {
    width: 193px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-9 {
    width: 193px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-12 {
    width: 193px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 32px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1148px;
}

.u-section-2 .u-group-1 {
  width: 822px;
  min-height: 194px;
  height: auto;
  margin: 69px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 20px 1px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 270px;
  grid-gap: 25px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-image-1 {
  height: 572px;
  object-position: 100% 53.21%;
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1133px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 219px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 729px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2007px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 204px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-bottom: -10px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 69px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-image-1 {
    height: 515px;
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
  }
}